@using WomenMarket.App.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Women's Market</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Women's Market", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Admin", "Index", "HomeAdmin", routeValues: new { area = "Admin" }, htmlAttributes: null)</li>
                        }
                    }
                    <li>@Html.ActionLink("Farms", "All", "Farms")</li>
                    <li>@Html.ActionLink("Products", "All", "Products", routeValues: new { area = "", category = "" }, htmlAttributes: null)</li>
                    @*<li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Products <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation">@Html.ActionLink("All", "All", "Products", routeValues: new { area = "", category = "" }, htmlAttributes: null)</li>
                            <li role="presentation">@Html.ActionLink("Fruits", "All", "Products", routeValues: new { area = "", category = "fruits" }, htmlAttributes: null)</li>
                            <li role="presentation">@Html.ActionLink("Vegetables", "All", "Products", routeValues: new { area = "", category = "vegetables" }, htmlAttributes: null)</li>
                            <li role="presentation">@Html.ActionLink("Dairy", "All", "Products", routeValues: new { area = "", category = "dairy" }, htmlAttributes: null)</li>
                            <li role="presentation">@Html.ActionLink("Meats", "All", "Products", routeValues: new { area = "", category = "meats" }, htmlAttributes: null)</li>
                        </ul>
                    </li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
<div class="container-fluid">
    <div id="notifications" style="display: none;"></div>
    @RenderBody()
</div>
    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>Women's<span> Market</span></h3>
            <p class="footer-links">
                @Html.ActionLink("Home", "Index", "Home")
                ·
                @Html.ActionLink("Farms", "All", "Farms")
                ·
                @Html.ActionLink("Products", "All", "Products")
                ·
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Admin", "Index", "HomeAdmin", routeValues: new { area = "Admin" }, htmlAttributes: null)
                }
                else
                {
                    @Html.ActionLink("Shopping cart", "Index", "ShoppingCart")
                }
            </p>
            <p class="footer-company-name">Women's Market &copy; 2017</p>
        </div>
        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>21 Solunska str.</span> Sofia, Bulgaria</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>+359 889 780 321</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p>@Html.EmailTextBox("konstantin1230@yahoo.com")</p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                One of the biggest markets in the country.
            </p>
            <div class="footer-icons">
                @*@Html.HyperLink("https://www.facebook.com/konstantin.kirchev", "fa fa-facebook");*@
                <a href="https://www.facebook.com/konstantin.kirchev" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/konstantin1230" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/konstantinkirchev" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/KonstantinKirchev/" target="_blank"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalr")
    <script src="signalr/hubs"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script>
            $(document)
                .ready(function () {
                    var notificationsHub = $.connection.notifications;
                    notificationsHub.client.receiveNotification = function (type, notification) {
                        var notificationElement = $("<div>")
                            .addClass("alert alert-dismissible alert-" + type)
                            .html("<button type=\"button\" class=\"close\" data-dismiss=\"alert\">&times;</button>" +
                                notification);
                        $("#notifications").append(notificationElement);

                        var notesCount = parseInt($(".circle-cell").html());
                        $(".circle-cell").html(notesCount + 1);

                        $(".close")
                            .click(function () {
                                var count = $("#notifications div").length;
                                $(".circle-cell").html(count - 1);
                            });

                        $("#notes")
                            .click(function () {
                                if ($('#notifications').css('display') == 'none') {
                                    $('#notifications')
                                        .css({
                                            display: 'block'
                                        });
                                } else {
                                    $('#notifications')
                                        .css({
                                            display: 'none'
                                        });
                                }

                            });
                    }

                    $.connection.hub.start();
                });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
