@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            @if (!User.IsInRole("Admin"))
            {
                <li>
                    @Html.Raw(@Html.ActionLink("Cart", "Index", "ShoppingCart", null, new { @class = "fa fa-shopping-cart" }).ToHtmlString().Replace("Cart", ""))
                </li>
                <li>
                    <a href="javascript:;" class="icon-btn notification-btn notification-active">
                        <span class="cell">
                            <span class="icon-wrap" id="notify">
                                <i class="fa fa-bell"></i>
                                <span class="notification-count">
                                    <span class="table-holder"><span class="circle-cell">0</span></span>
                                </span>
                            </span>
                        </span>
                    </a>
                </li>
            }
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Profile")
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
