@using WomenMarket.App.Models.ViewModels
@model WomenMarket.Models.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

@if (Model == null || Model.Products.Count == 0)
{
    <div class="container">
        <h1>You don't have any products in your shopping cart.</h1>
    </div>
}
else
{
    <div class="container">
        <h1>My @ViewBag.Title</h1>
        <div class="cart" id="myCart">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                @{
                    decimal total = 0.00m;
                }
                @foreach (var product in Model.Products)
                {
                    total += (product.Price * product.Units);
                    <tr>
                        <td>@product.Name</td>
                        <td>@Html.ActionLink("-", "DecreaseProductUnits", "ShoppingCart", routeValues: new { area = "", cartId = Model.Id, id = product.Id }, htmlAttributes: new { @class = "btn btn-danger" }) <span id="units">@product.Units</span> @Html.ActionLink("+", "IncreaseProductUnits", "ShoppingCart", routeValues: new { area = "", cartId = Model.Id, id = product.Id }, htmlAttributes: new { @class = "btn btn-success" })</td>
                        <td>@(product.Price * product.Units)</td>
                        <td>@Html.ActionLink("Remove", "RemoveProduct", "ShoppingCart", routeValues: new {area = "", cartId = Model.Id, id = product.Id}, htmlAttributes: new {@class = "btn btn-danger"})</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <h2>Total: @total lv.</h2>
        @Html.ActionLink("Order now", "PlaceOrder", "ShoppingCart", routeValues: new { area = "", id = Model.Id, totalAmount = total }, htmlAttributes: new { @class = "btn btn-success" })
        <br>
        <br>
    </div>
}

@section Scripts
{

    <script type="text/javascript">
        var totalPrice = $("#totalPrice").text();
        console.log(totalPrice);
        var units = $("#units").text();
        console.log(units);

        function decrease() {
            
        }
    </script>

}

