@using WomenMarket.Models.EntityModels
@model IEnumerable<ShoppingCartProduct>
@{
    ViewBag.Title = "My shopping cart";
    ViewBag.ShoppingCartId = null;
}

@if (Model == null || !Model.Any())
{
    <div class="container">
        <h1>You don't have any products in your shopping cart.</h1>
    </div>
}
else
{
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <div class="cart" id="myCart">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                @{
                    decimal total = 0.00m;
                }
                @foreach (var cart in Model)
                {
                    ViewBag.ShoppingCartId = cart.ShoppingCartId;

                    total += (cart.Product.Price * cart.Units);
                    <tr>
                        <td>@cart.Product.Name</td>
                        <td>@Html.ActionLink("-", "DecreaseProductUnits", "ShoppingCart", routeValues: new { area = "", cartId = cart.ShoppingCartId, id = cart.ProductId }, htmlAttributes: new { @class = "btn btn-danger" }) <span id="units">@cart.Units</span> @Html.ActionLink("+", "IncreaseProductUnits", "ShoppingCart", routeValues: new { area = "", cartId = cart.ShoppingCartId, id = cart.ProductId }, htmlAttributes: new { @class = "btn btn-success" })</td>
                        <td>@(cart.Product.Price * cart.Units)</td>
                        <td>@Html.ActionLink("Remove", "RemoveProduct", "ShoppingCart", routeValues: new {area = "", cartId = cart.ShoppingCartId, id = cart.ProductId}, htmlAttributes: new {@class = "btn btn-danger"})</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <h2>Total: @total lv.</h2>
        @Html.ActionLink("Order now", "PlaceOrder", "ShoppingCart", routeValues: new { area = "", id = ViewBag.ShoppingCartId, totalAmount = total }, htmlAttributes: new { @class = "btn btn-success" })
        <br>
        <br>
    </div>
}

@section Scripts
{

    <script type="text/javascript">
        var totalPrice = $("#totalPrice").text();
        console.log(totalPrice);
        var units = $("#units").text();
        console.log(units);

        function decrease() {
            
        }
    </script>

}

