@using WomenMarket.Models.ViewModels
@model IEnumerable<ProductViewModel>

@{
    ViewBag.Title = "Products in the order";
}
<div class="container">
    <h1>@ViewBag.Title</h1>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Units</td>
                    <td>@product.Price lv.</td>
                </tr>
            }
        </tbody>
    </table>
    <br>
    @Html.ActionLink("Back to orders", "Index", "Orders", routeValues: new { area = "Admin" }, htmlAttributes: new { @class = "btn btn-danger" })
    <br>
</div>
