@using WomenMarket.App.Extensions
@using WomenMarket.Models.ViewModels
@model PagedList.IPagedList<ProductViewModel>
@using PagedList.Mvc

@{
    ViewBag.Title = "Products";
}

<div class="container">
    <div class="row">
        <h1 class="page-header">@ViewBag.Title</h1>
        @using (Html.BeginForm("Search", "Products", FormMethod.Get, new { @class = "navbar-form", role = "search" }))
        {
            <div class="input-group add-on">
                @Html.TextBox("product", ViewBag.currentFilter as string, new { @class = "form-control", placeholder = "Search by product name" })
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        }
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        @Html.Image(product.ImageUrl, "product")
                        <div class="caption">
                            <h3>@product.Name</h3>
                            <p>@product.Description</p>
                            <h3 style="display: flex; justify-content: space-between;"><span>@product.Quantity</span><span style="color: red;">@product.Price lv</span></h3>
                            @if (Request.IsAuthenticated && !User.IsInRole("Admin"))
                            {
                                <p>
                                    @Html.ActionLink("Add to cart", "AddProduct", "ShoppingCart", routeValues: new { area = "", id = product.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                                </p>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <p>
                                    @Html.ActionLink("Edit", "Edit", "Products", routeValues: new { area = "Admin", id = product.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                                    @Html.ActionLink("Delete", "Delete", "Products", routeValues: new { area = "Admin", id = product.Id }, htmlAttributes: new { @class = "btn btn-danger" })
                                </p>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @if (Model.PageCount > 1)
    {
        @Html.PagedListPager(Model, page => Url.Action("ByFarm", new { page }))
    }
</div>
